
.content{
    width: 1680px;
    margin: auto 120px;
    padding: 30px 0 90px;
    background-color: snow;
}
.content>.title{
    margin: 0 30px 0;
    padding: 30px;
    border-bottom: black 1px solid;
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
}