/*主体页面*/
.box{
    /*border: #b9b9b9 1px dashed;*/
}
.container>.box{
    width: 100%;
    margin: 0;
    padding: 0;
    /*background-color: black;*/
}
.container>#ShowBox{
    width: 1920px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(185, 185, 185, 0.24);
}
#ShowBox>*:nth-child(1){
    flex: 1 1 auto;
    text-align: center;
}
#ShowBox>*:nth-child(2){
    flex: 4 4 auto;
    text-align: center;
}
#ShowBox>*:nth-child(3){
    flex: 1 1 auto;
    text-align: center;
}

#ShowBox .turn{
    color: white;
    background-color: rgba(221, 221, 221, 0.25);
    font-size: 100px;
    border: white 1px solid;
    cursor: pointer;
}
#ShowBox .turn:hover{
    background-color: rgba(221, 221, 221, 0.75);
}
#centershow .imgBox{
    /*background-color: wheat;*/
    width: 600px;
    height: 640px;
    margin: 40px auto;
    border: gold solid 5px;
}
#centershow .imgBox img{
    height: 100%;
    width: 100%;
}