/*主体页面*/
.box{
    /*border: #b9b9b9 1px dashed;*/
}
.container>.box{
    width: 100%;
    margin: 0;
    padding: 0;
    /*background-color: black;*/
}
.container>#ShowBox{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(185, 185, 185, 0.24);
}
#ShowBox>*:nth-child(1){
    flex: 1 1 auto;
    text-align: center;
}
#ShowBox>*:nth-child(2){
    flex: 4 4 auto;
    text-align: center;
}
#ShowBox>*:nth-child(3){
    flex: 1 1 auto;
    text-align: center;
}

#ShowBox .turn{
    color: white;
    font-size: 200px;
    border: white 1px solid;
}
#centershow .imgBox{
    /*background-color: wheat;*/
    width: 800px;
    height: 640px;
    margin: 40px auto;
    border: gold solid 5px;
}
#centershow .imgBox>img{
    height: 100%;
}
.content{
    width: 87.5%;
    margin: 60px 120px;
    padding: 30px 0 90px;
    background-color: snow;
}
.content>.title{
    margin: 0 30px 0;
    padding: 30px;
    border-bottom: black 1px solid;
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
}
.overview{
    width: 1520px;
    height: 400px;
    margin: 0 80px 0;

    border: #707070 2px solid;

    display: flex;
    flex-flow: row nowrap;

    background-color: rgba(245, 245, 220, 0.5);

}
.overview>.box1{
    width: 400px;
    height: 100%;
    margin: 0;

    border-right: #707070 2px solid;

}
.overview>.box1>img{
    height: 360px;
    width: 360px;
    margin: 20px;
}
.overview>.box2{
    width: 1120px;
    height: 100%;
    margin: 0;
}
.overview>.box2>.box21{
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.overview>.box2>.box21>.textbox:nth-child(1){flex: 4 4 0; border-right: #707070 1px solid}
.overview>.box2>.box21>.textbox:nth-child(2){flex: 4 4 0; border-right: #707070 1px solid}
.overview>.box2>.box21>.textbox:nth-child(3){flex: 3 3 0}
.overview>.box2>.box21>.textbox{
    padding: 10px;
}
.overview>.box2>.box21>.textbox span{

    font-weight: bold;
    font-size: 40px;
    color: blue;
}
.overview>.box2>.box22{
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    /*align-items: center;*/

}
.overview>.box2>.box22> div:nth-child(1){flex: 2 2 0;}
.overview>.box2>.box22> div:nth-child(2){flex: 5 5 0;}
.overview>.box2>.box22 .OptionalInfo{
    margin: auto auto;
    border: black 1px solid;
}
.overview>.box2>.box22 .OptionalInfo tr{
    height: 40px;
}
.overview>.box2>.box22 .OptionalInfo td{
    width: 150px;
    border-right: black 1px dotted;
    border-bottom: black 1px solid;
}
.overview>.box2>.box22>.box222{
    border: black 1px solid;
    display: flex;
    flex-flow: column nowrap;
}
.overview>.box2>.box22>.box222>*:first-child{flex: 5 5 0}
.overview>.box2>.box22>.box222>*:last-child{flex: 1 1 0}
.overview>.box2>.box22>.box222>p{
    margin: 20px;
}
.overview>.box2>.box22>.box222>button{
    width: 120px;
    margin: 10px 10px 10px 80%;
}
.overview:first-child{
    margin-top: 80px;
}
.overview:last-child{
    margin-bottom: 80px;
}
