body{
    margin:0;
    padding: 0;
    font-family: Serif;
    background-color: #b9b9b9;
}
.inputbox{
    width: 400px;
    height: auto;
    margin: 100px auto;
    padding: 40px;
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%,-50%);*/
    background: rgb(239, 239, 239);
    text-align: center;
    border-radius: 30px;
}

.inputbox .title{
    color: #000000;

}
.inputbox .textbox{
    text-align: center;
    border: 2px solid #186cbd;
    border-radius: 10px;
    background: none;
    display: block;
    margin: 15px auto 5px;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
}
.inputbox .button{
    background: none;
    width: 60px;
    height: 35px;
    border-radius :5px;

}
.inputbox p{
    border-top: gray solid 1px;
    padding-top: 35px;
    position: relative;
    top: 20px;
}
.inputbox a{
    margin: 50px;
}
.errorform, .errorblank{
    font-size: small;
    color: red;
    margin-bottom: 15px;
    display: none;
}

