.subWindow{
    width: 960px;
    height: auto;
    border: #186cbd 2px solid;
    margin: auto;
    background-color: snow;
}
.subWindow{

}
.subWindow .FormTable{
    width: 900px;
    margin: 30px;
    text-align: center;

}
.subWindow .FormTable tr{
    height: 60px;
}
.subWindow .FormTable tr:first-child{
    height: 100px;
}
.subWindow .FormTable td{
    border: #b9b9b9 1px dotted;
}
.subWindow .FormTable td:nth-child(1){
    width: 20%;
}
.subWindow .FormTable td:nth-child(2){
    width: 50%;
}
.subWindow .FormTable td:nth-child(3) {
    width: 30%;
    text-align: start;
}
.subWindow .FormTable td>input{
    margin: 5px;
    height: 30px;
    width: 80%;
}
.subWindow .FormTable td:nth-child(3)>span{
    color: red;
    font-size: smaller;
    padding: 0 20px;
}
.subWindow .FormTable td> button{
    width: 200px;
    height: 80px;
    margin: 30px auto;
}
.subWindow .FormTable tr:last-child button{
    width: 150px;
    height: 60px;
    margin: 30px 120px;
}
