
.content>.paging{
    padding: 0 50px;
    justify-content: flex-end;
    align-items: center;
}
.content>.paging>*{
    text-align: center;
    width: 55px;
    height: 35px;
    margin: 0px;
    display: block;
    font-size: 25px;
}
.content>.paging>.turn{
    border: black 1px solid;

}