.box{
    /*border: #b9b9b9 1px dotted;*/
}
.block{
    /*border: #b9b9b9 1px solid;*/
    display: block;
}
.flexbox{
    display: flex;
    flex-flow: row nowrap;
}
#release .box1{
    justify-content: center;
    align-items: center;
}
#release .box1>*{
    margin: 30px;
}
#release .box1>input{
    width: 300px;
    height: 60px;
    font-size: larger;
}
#release .box1>#pic{
    width: 200px;
    height: 200px;
    border: #d39900 solid 5px;
}

#release .box1>#pic img{
    width: 100%;
    height: 100%;
}
#release .box2{
    justify-content: center;
}
#release .box2 table{
    margin: 30px;
    border: black solid 2px;
}
#release .box2 tr{
    height: 120px;
}
#release .box2 td{
    border: #b9b9b9 solid 1px;
    text-align: center;
    width: 360px;
}
#release .box2 td>p:first-child{
    color: #186cbd;
    font-size: 25px;
    font-weight: bold;
}
#release .box2 td input{
    height: 25px;

}
#release .box2 td select{
    height: 35px;
}
#release .box2 td option{

}
#release .box2 td textarea{
    height: 80px;
    width: 1000px;
}
#release .box3{
    justify-content: flex-end;
}
#release .box3 button{
    background-color: rgba(128, 221, 255, 0.4);
    margin: 40px;
    height: 80px;
    width: 200px;
}
