.box{
    /*border: #b9b9b9 1px dotted;*/
}
.block{
    /*border: #b9b9b9 1px solid;*/
    display: block;
}
.flexbox{
    display: flex;
    flex-flow: row nowrap;
}
.flexboxV{
    display: flex;
    flex-flow: column nowrap;
}
#user{
    justify-content: center;
    align-items: flex-start;
}
#user>.box1{
    align-items: center;
    width: 500px;
}

#user .title{
    margin: 0 30px 0;
    padding: 30px;
    border-bottom: black 1px solid;
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
}
#user>.box1>.title{
    margin: 0 30px 0;
    padding: 30px;
    border-bottom: black 1px solid;
    font-weight: bold;
    font-size: 40px;
    font-style: normal;
}
#user>.box1> table{
    margin: 30px 0;
}
#user>.box1 tr{
    height: 40px;

}
#user>.box1 td{
    margin: 10px;
    padding: 20px;
    border: #b9b9b9 1px solid;
}
#user>.box1 td:nth-child(1){
    width: 80px;
}
#user>.box1 td:nth-child(2){
    width: 300px;
}
#user>.box1> button{
    width: 100px;
    height: 50px;
    margin: 20px;
}
#user>.box1> .button{
    width: 200px;
    height: auto;
    text-align: center;
    padding: 10px;
    background-color: #c50000;
}
#user>.box1>p>span{
    font-size: 40px;
}
#user>.box2{
    width: 1000px;
}
#user>.box2>table{
    margin: 30px;
}
#user>.box2 tr{
    height: 120px;
}
#user>.box2 tr:first-child{
    height: 40px;
    text-align: center;
}
#user>.box2 td{
    border: black 1px solid;
    text-align: center;
    width: 300px;
}
#user>.box2 .sold tr:not(:first-child) td:last-child{
    width: 600px;
    text-align: start;
    padding: 0 15px;
}