
.nav{
    background-color: rgba(152, 135, 135, 0.8);
    width: 100%;
    height: 60px;
    display: inline-block;
    /*text-align: center;*/
    margin: 0 -8px;
    position: fixed;
    top: 0;
    z-index: 5;
}
.nav #logopic{
    max-height: 100%;
    position: relative;
    left: 10%;
    display: inline-block;
}
.nav .logos{
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 30px;
    display: inline;
}

.nav #title{
    font-size: 30px;
    font-weight: bold;
    font-family: "Showcard Gothic";
    color: #e8fcb9;
    position: relative;
    top: -30%;

    display: inline-block;

}
.nav ul{
    width: 1200px;
    margin-left: 10px;
    margin-top: 10px;

    position: absolute;
    top: 5px;
    display: inline;
}
#menu_auth{
    left: 50%;
}
#menu_unauth{
    left: 60%;
}
.nav .menu .box{
    position: relative;
    background-color: rgba(200,200,200,0.3);
    width: 80px;
    height: 30px;

    display: inline-block;
    text-align: center;
}
.nav .menu .select{
    /*background: none;*/
    color: black;
    width: 120px;
    height: 45px;
    z-index: 2;
    display: inline-block;
    text-align: center;
}

.nav .list{
    position: absolute;
    top: 15px;
    left: 1170px;
    /*background-color: rgba(200, 200, 200, 0.5);*/
    width: 120px;
    height: 30px;
    /*border: black solid 1px;*/
}
.nav .list ul{
    width: 120px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 45px;
    left: 0px;
    background-color: rgb(189, 188, 188);
}
.nav .list li{

    position: relative;

    width: 120px;
    height: 29px;
    border-bottom: gainsboro solid 1px;
    border-top: gainsboro solid 1px;
    display: inline-block;
    text-align: center;
}